#!/usr/bin/env bash

# Enable aliases to be sudo’ed
alias sudo="sudo "

# mutli-os colorized ls
alias la="ls -laphG"
alias ll="ls -lphG"
alias lsd="ls -lphG | grep '^d'"

# ruby ish
alias brake="bundle exec rake"
alias bint="bundle install --without system_tests --path=.bundle"
