[user]
	name = nick anderson
	email = nick@morethq.com

[alias]
	up = pull --rebase --autostash

[commit]
	gpgSign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[user]
	signingKey = ~/.ssh/iamnande.pub

[includeIf "gitdir:~/ngrok/"]
	path = ~/.gitconfig-ngrok
[init]
	defaultBranch = main
