theme "everforest-dark"
show_startup_tips false

session_name "mhq"
attach_to_session true
default_layout "mhq"

keybinds {
	normal {
		unbind "Ctrl g"
		unbind "Ctrl h"
		bind "Alt g" { SwitchToMode "locked"; }
	}
	locked {
		unbind "Ctrl g"
		bind "Alt g" { SwitchToMode "normal"; }
	}
	pane {
		bind "m" { SwitchToMode "Move"; }
	}
}

ui {
    pane_frames {
        rounded_corners true
    }
}

